/* src/index.css o src/App.css */
@font-face {
  font-family: "TT Norms Pro";
  src: url("./fonts/tt-norms-pro/TT Norms Pro Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Fira Sans";
  src: url("./fonts/Fira_Sans/FiraSans-ExtraBold.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Fira Code";
  src: url("./fonts/Fira_Code/FiraCode-Regular.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}


.my-float {
  margin-top: 16px;
}

.bounce {
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%,
  25%,
  50%,
  75%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-12px);
  }
}

.btn-custom {
  padding: 0.75rem 2.5rem;
}

/* @media (min-width: 1024px) {
  .btn-custom {
    padding: 0.5rem 2.5rem;
  }
} */

/* codigo para efectos de botones */

/* boton verde */
.custom-button-verde {
  background-color: #16a34a; 
  cursor: pointer;
  transition: transform 0.3s ease-out, background-color 0.3s ease-out; 
  border-radius: 5px;
}

.custom-button-verde:hover {
  background-color: #15803d;
  transform: translateY(-0.20rem); 
}

/* boton blanco */
.custom-button-blanco {
  background-color: #FFF; 
  cursor: pointer;
  transition: transform 0.3s ease-out, background-color 0.3s ease-out; 
  border-radius: 5px;
}

.custom-button-blanco:hover {
  background-color: #D1D1D1;
  transform: translateY(-0.20rem); 
}


